<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Applied_Accounts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Applied_Accounts.Properties.Settings.ConnectionString"
            connectionString="Dsn=SQLite_Applied" providerName="System.Data.Odbc" />
        <add name="Applied_Accounts.Properties.Settings.ConnectionFirdous"
            connectionString="Dsn=Applied_Firdous" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Applied_Accounts.Properties.Settings>
            <setting name="DBFile" serializeAs="String">
                <value>\Data\Applied.db</value>
            </setting>
            <setting name="WallPaper" serializeAs="String">
                <value />
            </setting>
        </Applied_Accounts.Properties.Settings>
    </userSettings>
</configuration>